{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>{{ article.Nom }}</h2>
    <div class"metadata">Achat le {{ article.DateAchat | date ('d/m/Y') }}</div>
        <div class"metadata">Fin de garantie le {{ article.DateGarantie | date ('d/m/Y') }}</div>
    <div class"content">
        <img src="{{ article.PhotoTicket }}" width="350rem" height="150rem" alt="">
        <div class"metadata"><h5>Prix en €: {{ article.Prix }}</h5></div>
        <div class"metadata"><h5>Lieu d'achat</h5>{{ article.LieuAchat | raw }}</div>
        <p><h5>Zone de saisie</h5>{{ article.ZoneSaisie | raw }}</p>
        <p><h5>Notice</h5>{{ article.Notice | raw }}</p>
    </div>    
</article>

{% endblock %}
       